Repository dotnet/roslyn-analyzers, pull requests merged in 2020-02, with the labels that each got.

#3269 Port "DiagnosticDescriptor id fix"
  src/PerformanceSensitiveAnalyzers/CSharp/TypeConversionAllocationAnalyzer.cs
Labels: Area-Microsoft.PerformanceSensitive.Analyzers

#3270 Port "Prevent reporting HAA0101 when no value for params is provided"
  src/PerformanceSensitiveAnalyzers/CSharp/AnalyzersResources.resx
  src/PerformanceSensitiveAnalyzers/CSharp/CallSiteImplicitAllocationAnalyzer.cs
  src/PerformanceSensitiveAnalyzers/CSharp/xlf/AnalyzersResources.cs.xlf
  src/PerformanceSensitiveAnalyzers/CSharp/xlf/AnalyzersResources.de.xlf
  src/PerformanceSensitiveAnalyzers/CSharp/xlf/AnalyzersResources.es.xlf
  src/PerformanceSensitiveAnalyzers/CSharp/xlf/AnalyzersResources.fr.xlf
  src/PerformanceSensitiveAnalyzers/CSharp/xlf/AnalyzersResources.it.xlf
  src/PerformanceSensitiveAnalyzers/CSharp/xlf/AnalyzersResources.ja.xlf
  src/PerformanceSensitiveAnalyzers/CSharp/xlf/AnalyzersResources.ko.xlf
  src/PerformanceSensitiveAnalyzers/CSharp/xlf/AnalyzersResources.pl.xlf
  src/PerformanceSensitiveAnalyzers/CSharp/xlf/AnalyzersResources.pt-BR.xlf
  src/PerformanceSensitiveAnalyzers/CSharp/xlf/AnalyzersResources.ru.xlf
  src/PerformanceSensitiveAnalyzers/CSharp/xlf/AnalyzersResources.tr.xlf
  src/PerformanceSensitiveAnalyzers/CSharp/xlf/AnalyzersResources.zh-Hans.xlf
  src/PerformanceSensitiveAnalyzers/CSharp/xlf/AnalyzersResources.zh-Hant.xlf
  src/PerformanceSensitiveAnalyzers/UnitTests/CallSiteImplicitAllocationAnalyzerTests.cs
Labels: Area-Microsoft.PerformanceSensitive.Analyzers

#3303 HAA0101 add unit test for empty 'params' in net45
  src/PerformanceSensitiveAnalyzers/CSharp/CallSiteImplicitAllocationAnalyzer.cs
  src/PerformanceSensitiveAnalyzers/UnitTests/CSharpPerformanceCodeFixVerifier`2.cs
  src/PerformanceSensitiveAnalyzers/UnitTests/CallSiteImplicitAllocationAnalyzerTests.cs
Labels: Area-Microsoft.PerformanceSensitive.Analyzers, Community

#3271 Port "Verify symbol type when reporting HAA0602"
  src/PerformanceSensitiveAnalyzers/CSharp/TypeConversionAllocationAnalyzer.cs
  src/PerformanceSensitiveAnalyzers/UnitTests/TypeConversionAllocationAnalyzerTests.cs
Labels: Area-Microsoft.PerformanceSensitive.Analyzers

#3325 Update CA1304 to allow user exclusions
  docs/Analyzer Configuration.md
  src/NetAnalyzers/Core/Microsoft.NetCore.Analyzers/Runtime/SpecifyCultureInfo.cs
  src/NetAnalyzers/UnitTests/Microsoft.NetCore.Analyzers/Runtime/SpecifyCultureInfoTests.cs
Labels: Auto-Merge If Tests Pass, auto-merge
